<ul class="nav-bar">
  <li><%=link_to 'Tweets' , tweets_path%></li>
  <%if user_signed_in?%>
  <li><%= link_to 'Log Out', destroy_user_session_path, method: :delete %>
</li>
  <li><%=link_to 'Edit' , 'users/edit'%></li>
<%else%>
  <li> <%=link_to 'Login' , new_user_session_path%></li>
 <li><%=link_to 'Sign-up' , new_user_registration_path %></li>
<%end%>
<li class="title">Twitterz</li>

<li class="info"> Hello, <%=current_user.email  if user_signed_in?%> </li>
</ul>

