<tr id = "<%="#{tweet.id}" %>">
  <td> <div id = "content_and_time"> <%= tweet.content %>
      <section id = "time">  <%= time_ago_in_words tweet.created_at %> ago </section> </div>
    <div id = "destroy"> <%= button_to "", tweet_path(tweet), class: "destroy_button", method: :delete, remote: true %>
     <%= button_to "", edit_tweet_path(tweet), class: "edit_button", method: :get  %> </div></td>
</tr>
