
<h1>All of the tweets! <span id = "tweets-count"> <%=@tweets.count%> </h1>


<%=form_for @tweet, remote: true do |f| %>

  <%=f.text_area "content" %>
  <br>
  <%=f.submit "Tweet"%>


<%end%>

<table id="tweets-container">
  <thead>
    <tr>
      <th>ID</th>
      <th>Content</th>
      <th>Date</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= render @tweets %>
  </tbody>
</table>
